:root  > * {
  --md-primary-fg-color: #8026ff;
  --md-accent-fg-color: #8026ff;
  --md-typeset-a-color: #9447ff !important;
}

[data-md-color-scheme="default"] {
  --md-default-fg-color--light: #000000;
  --md-default-fg-color: #000000;
}


[data-md-color-scheme="slate"] {
  --md-default-fg-color--light: #e2e4e9d1;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset .admonition.note {
  border-color: #9447ff;
}

.md-typeset .note>.admonition-title:before {
  background-color: #9447ff;
}

.md-typeset .note>.admonition-title {
  background-color: #9447ff1a;
}

.md-typeset code {
  padding: 4px 6px;
  border-radius: .2rem;
}

[data-md-color-scheme="default"] .md-content img {
  border: 1px solid #e7e7e7;
  border-radius: .2rem;
  padding: 4px;
}

[data-md-color-scheme="slate"] .md-content img {
  border: 1px solid #e2e4e91f;
  border-radius: .2rem;
  padding: 4px;
}

@media (max-width: 1219px) {
  .md-nav__title {
    height: 4rem !important;
  }
}

@media (min-width: 1220px) {

  .md-nav.md-nav--primary > .md-nav__title {
    box-shadow: none;
  }

  .md-nav.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link .md-ellipsis {
    font-weight: 700;
  }

  .md-nav.md-nav--primary .md-nav__item.md-nav__item--nested nav .md-nav__item .md-nav__link .md-ellipsis {
    font-weight: normal;
  }

  .md-nav.md-nav--primary {
    border-radius: .2rem;
    padding: 6px;
  }

  [data-md-color-scheme="default"] .md-nav.md-nav--primary {
    border: 1px solid #e7e7e7;
  }

  [data-md-color-scheme="slate"] .md-nav.md-nav--primary {
    border: 1px solid #e2e4e91f;
  }

}

@media (min-width: 960px) {

  .md-nav.md-nav--secondary {
    border-radius: .2rem;
    padding: 6px;
  }

  [data-md-color-scheme="default"] .md-nav.md-nav--secondary {
    border: 1px solid #e7e7e7;
  }

  [data-md-color-scheme="slate"] .md-nav.md-nav--secondary {
    border: 1px solid hsla(var(--md-hue), 15%, 90%, 0.12);
  }

  .md-nav.md-nav--secondary:not(:has(*)) {
    border: none !important;
  }

  .md-nav.md-nav--secondary > .md-nav__title {
    padding-top: 10px;
    font-weight: 700;
    box-shadow: none;
  }

  [data-md-color-scheme="default"] .md-nav.md-nav--secondary > .md-nav__title {
    color: #000000;
  }

}