:root  > * {
  --md-primary-fg-color:        #8026ff;
  --md-primary-fg-color--light: #8026ff;
  --md-primary-fg-color--dark:  #8026ff;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset code {
    padding: 4px 6px;
    border-radius: 4px;
}